<!DOCTYPE html>
<html>
  <head>
    <title>FoundationForLetters</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>FOUNDATION FOR LETTERS</h1>
    <%= link_to "home", home_index_path %> |
    <%= link_to "about us", about_us_index_path %>

    <%= yield %>
  </body>
</html>
